<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.min.css?_v=20240425175724">
    <!--SWIPER-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css?_v=20240425175724"/>
    <!--LIGHTGALLERY-->
    <link type="text/css" rel="stylesheet" href="../files/lightgallery/css/lightgallery.css?_v=20240425175724" />
    <!-- lightgallery plugins
        <link type="text/css" rel="stylesheet" href="../files/lightgallery/css/lg-zoom.css?_v=20240425175724" />
    -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,regular&display=swap&_v=20240425175724" rel="stylesheet" />
{#    <link href="https://fonts.googleapis.com/css?family=Italiana:regular&_v=20240425175724" rel="stylesheet" />#}
    <title>Головна</title>
</head>
    <body>
        <div class="wrapper">
            <header class="header">
    <div class="header__container">
        <div class="header__menu menu">
            <nav class="menu__body">
                <ul class="menu__list _anim-items">
                    <li class="menu__item">
                        <a href="#" class="menu__link">Home</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">About</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Products</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Services</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header__logo _anim-items">
            <img src="../static/img/header/logo.svg" alt="The Wild Kingdom">
        </div>
        <div class="header__actions actions-header">
            <div class="actions-header__body _anim-items" data-da=".menu__body, 767.98">
                <a href="#" class="actions-header__link">Log in</a>
                <a href="#" class="actions-header__link">Register</a>
                <button type="button" class="actions-header__button button button--border"><span>Contact</span></button>
            </div>
            <button type="button" class="menu__icon icon-menu"><span></span></button>
        </div>
    </div>
</header>
            <main class="page">
                <section class="page__hero hero">
                    <div class="hero__container">
                        <div class="hero__body">
                            <h2 class="hero__title _anim-items">A better world for pets</h2>
                            <a href="#" class="hero__button button button--border _anim-items"><span>Explore</span></a>
                        </div>
                        <!-- Slider main container -->
                        <div class="hero__slider swiper _anim-items">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <div class="slider__image">
                                        <picture><source srcset="../static/img/hero/01.webp" type="image/webp"><img src="../static/img/hero/01.png" alt="#"></picture>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slider__image">
                                        <picture><source srcset="../static/img/hero/01.webp" type="image/webp"><img src="../static/img/hero/01.png" alt="#"></picture>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slider__image">
                                        <picture><source srcset="../static/img/hero/01.webp" type="image/webp"><img src="../static/img/hero/01.png" alt="#"></picture>
                                    </div>
                                </div>
                            </div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                        
                            <!-- If we need navigation buttons 

                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        
                            -->

                            <!-- If we need scrollbar -->
                            <div class="swiper-scrollbar"></div>
                        </div>
                    </div>
                </section>
                <section class="page__about about">
                    <div class="about__container">
                        <div class="about__body">
                            <div class="about__image _anim-items">
                                <picture><source srcset="../static/img/about-us/image.webp" type="image/webp"><img src="../static/img/about-us/image.jpg" alt="Pets"></picture>
                            </div>
                            <div class="about__content block-header">
                                <h5 class="block-header__label _anim-items">About us</h5>
                                <h2 class="block-header__title _anim-items">Treating pet like Royalty</h2>
                                <div class="block-header__text _anim-items">
                                    <blockquote>“They’re not just pets, they’re family”</blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquam mi id augue ultrices, in tempus elit tristique. Aliquam ultrices sem non.</p>
                                </div>
                                <a href="#" class="block-header__button button _anim-items"><span>Explore</span></a>
                            </div>
                        </div>
                        <div class="about__services services-about">
                            <div class="services-about__item _anim-items">
                                <div class="services-about__icon">
                                    <img src="../static/img/about-us/services-about/medal.svg" alt="medal">
                                </div>
                                <div class="services-about__label">Pet food</div>
                            </div>
                            <div class="services-about__item _anim-items">
                                <div class="services-about__icon">
                                    <img src="../static/img/about-us/services-about/syringe.svg" alt="syringe">
                                </div>
                                <div class="services-about__label">Pet care</div>
                            </div>
                            <div class="services-about__item _anim-items">
                                <div class="services-about__icon">
                                    <img src="../static/img/about-us/services-about/dog-house.svg" alt="dog-house">
                                </div>
                                <div class="services-about__label">pet accessories</div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="page__products products">
                    <div class="products__container">
                        <div class="products__content block-header block-header__center">
                            <h5 class="block-header__label _anim-items">Our Products</h5>
                            <h2 class="block-header__title _anim-items">For all your pet needs</h2>
                            <div class="block-header__text _anim-items">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquam mi id augue ultrices, in tempus elit.</p>
                            </div>
                        </div>
                        <div class="products__items">
                            <article class="products__item item-products _anim-items">
                                <div class="item-products__header">
                                    <div class="item-products__image-ibg-contain">
                                        <picture><source srcset="../static/img/products/items/bed.webp" type="image/webp"><img src="../static/img/products/items/bed.png" alt="Product"></picture>
                                    </div>
                                    <button class="item-products__add-to-cart button"><span>Add to cart</span></button>
                                </div>
                                <div class="item-products__body">
                                    <h5 class="item-products__title">
                                        <a href="#" class="item-products__link-title">Luxury pet bed</a>
                                    </h5>
                                    <div class="item-products__price">
                                        <p>$120</p>
                                    </div>
                                    <div class="item-products__rating rating">
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item"></div>
                                    </div>
                                </div>
                            </article>
                            <article class="products__item item-products _anim-items">
                                <div class="item-products__header">
                                    <div class="item-products__image-ibg-contain">
                                        <picture><source srcset="../static/img/products/items/cat-food.webp" type="image/webp"><img src="../static/img/products/items/cat-food.png" alt="Product"></picture>
                                    </div>
                                    <button class="item-products__add-to-cart button"><span>Add to cart</span></button>
                                </div>
                                <div class="item-products__body">
                                    <h5 class="item-products__title">
                                        <a href="#" class="item-products__link-title">Cat Food</a>
                                    </h5>
                                    <div class="item-products__price">
                                        <p>$20</p>
                                    </div>
                                    <div class="item-products__rating rating">
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item"></div>
                                    </div>
                                </div>
                            </article>
                            <article class="products__item item-products _anim-items">
                                <div class="item-products__header">
                                    <div class="item-products__image-ibg-contain">
                                        <picture><source srcset="../static/img/products/items/dog-food.webp" type="image/webp"><img src="../static/img/products/items/dog-food.png" alt="Product"></picture>
                                    </div>
                                    <button class="item-products__add-to-cart button"><span>Add to cart</span></button>
                                </div>
                                <div class="item-products__body">
                                    <h5 class="item-products__title">
                                        <a href="#" class="item-products__link-title">Dog food</a>
                                    </h5>
                                    <div class="item-products__price">
                                        <p>$30</p>
                                    </div>
                                    <div class="item-products__rating rating">
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item"></div>
                                    </div>
                                </div>
                            </article>
                            <article class="products__item item-products _anim-items">
                                <div class="item-products__header">
                                    <div class="item-products__image-ibg-contain">
                                        <picture><source srcset="../static/img/products/items/treat.webp" type="image/webp"><img src="../static/img/products/items/treat.png" alt="Product"></picture>
                                    </div>
                                    <button class="item-products__add-to-cart button"><span>Add to cart</span></button>
                                </div>
                                <div class="item-products__body">
                                    <h5 class="item-products__title">
                                        <a href="#" class="item-products__link-title">Treat for dog</a>
                                    </h5>
                                    <div class="item-products__price">
                                        <p>$60</p>
                                    </div>
                                    <div class="item-products__rating rating">
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item"></div>
                                    </div>
                                </div>
                            </article>
                            <article class="products__item item-products _anim-items">
                                <div class="item-products__header">
                                    <div class="item-products__image-ibg-contain">
                                        <picture><source srcset="../static/img/products/items/scratching.webp" type="image/webp"><img src="../static/img/products/items/scratching.png" alt="Product"></picture>
                                    </div>
                                    <button class="item-products__add-to-cart button"><span>Add to cart</span></button>
                                </div>
                                <div class="item-products__body">
                                    <h5 class="item-products__title">
                                        <a href="#" class="item-products__link-title">scratching toy for cat</a>
                                    </h5>
                                    <div class="item-products__price">
                                        <p>$200</p>
                                    </div>
                                    <div class="item-products__rating rating">
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item"></div>
                                    </div>
                                </div>
                            </article>
                            <article class="products__item item-products _anim-items">
                                <div class="item-products__header">
                                    <div class="item-products__image-ibg-contain">
                                        <picture><source srcset="../static/img/products/items/teddy.webp" type="image/webp"><img src="../static/img/products/items/teddy.png" alt="Product"></picture>
                                    </div>
                                    <button class="item-products__add-to-cart button"><span>Add to cart</span></button>
                                </div>
                                <div class="item-products__body">
                                    <h5 class="item-products__title">
                                        <a href="#" class="item-products__link-title">Teddy bear for dog</a>
                                    </h5>
                                    <div class="item-products__price">
                                        <p>$80</p>
                                    </div>
                                    <div class="item-products__rating rating">
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item"></div>
                                    </div>
                                </div>
                            </article>
                            <article class="products__item item-products _anim-items">
                                <div class="item-products__header">
                                    <div class="item-products__image-ibg-contain">
                                        <picture><source srcset="../static/img/products/items/treats-knot.webp" type="image/webp"><img src="../static/img/products/items/treats-knot.png" alt="Product"></picture>
                                    </div>
                                    <button class="item-products__add-to-cart button"><span>Add to cart</span></button>
                                </div>
                                <div class="item-products__body">
                                    <h5 class="item-products__title">
                                        <a href="#" class="item-products__link-title">Treats Knot Bone</a>
                                    </h5>
                                    <div class="item-products__price">
                                        <p>$8</p>
                                    </div>
                                    <div class="item-products__rating rating">
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item"></div>
                                    </div>
                                </div>
                            </article>
                            <article class="products__item item-products _anim-items">
                                <div class="item-products__header">
                                    <div class="item-products__image-ibg-contain">
                                        <picture><source srcset="../static/img/products/items/bowls.webp" type="image/webp"><img src="../static/img/products/items/bowls.png" alt="Product"></picture>
                                    </div>
                                    <button class="item-products__add-to-cart button"><span>Add to cart</span></button>
                                </div>
                                <div class="item-products__body">
                                    <h5 class="item-products__title">
                                        <a href="#" class="item-products__link-title">dog bowls</a>
                                    </h5>
                                    <div class="item-products__price">
                                        <p>$70</p>
                                    </div>
                                    <div class="item-products__rating rating">
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item rating__item--active"></div>
                                        <div class="rating__item"></div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <a href="#" class="products__button button _anim-items"><span>Explore</span></a>
                    </div>
                </section>
                <section class="page__services services">
                    <div class="services__container">
                        <div class="services__image image-services _anim-items">
                            <div class="image-services__body">
                                <picture><source srcset="../static/img/services/image.webp" type="image/webp"><img src="../static/img/services/image.jpg" alt="Pets"></picture>
                            </div>
                        </div>
                        <div class="services__body block-header block-header__text-white">
                            <h5 class="block-header__label _anim-items">our services</h5>
                            <h2 class="block-header__title _anim-items">Quality Things for Loving Pets</h2>
                            <div class="block-header__text block-header__text-white _anim-items">
                                <blockquote>“More than a Pet Store…”</blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquam mi id augue ultrices, in tempus elit tristique. Aliquam ultrices sem non.</p>
                            </div>
                            <a href="#" class="block-header__button button button--border _anim-items"><span>Explore</span></a>
                        </div>
                    </div>
                </section>
                <div class="page__gallery gallery">
                    <div data-gallery class="gallery__container">
                        <div class="gallery__item">
                            <a href="../static/img/gallery/01.png" class="gallery__image">
                                <picture><source srcset="../static/img/gallery/01.webp" type="image/webp"><img src="../static/img/gallery/01.png" alt="Photo"></picture>
                            </a>
                            <a href="#" class="gallery__link _icon-arrow">
                                <span>Taking dogs care to the next level</span>
                            </a>
                        </div>
                        <div class="gallery__item">
                            <a href="../static/img/gallery/02.png" class="gallery__image">
                                <picture><source srcset="../static/img/gallery/02.webp" type="image/webp"><img src="../static/img/gallery/02.png" alt="Photo"></picture>
                            </a>
                            <a href="#" class="gallery__link _icon-arrow">
                                <span>We value the best health of your pets</span>
                            </a>
                        </div>
                        <div class="gallery__item">
                            <a href="../static/img/gallery/03.png" class="gallery__image">
                                <picture><source srcset="../static/img/gallery/03.webp" type="image/webp"><img src="../static/img/gallery/03.png" alt="Photo"></picture>
                            </a>
                            <a href="#" class="gallery__link _icon-arrow">
                                <span>Trust us with your pet’s vacation</span>
                            </a>
                        </div>
                        <div class="gallery__item">
                            <a href="../static/img/gallery/04.png" class="gallery__image">
                                <picture><source srcset="../static/img/gallery/04.webp" type="image/webp"><img src="../static/img/gallery/04.png" alt="Photo"></picture>
                            </a>
                            <a href="#" class="gallery__link _icon-arrow">
                                <span>We treat cats with utmost care</span>
                            </a>
                        </div>
                    </div>             
                </div>
            </main>
            <footer class="footer">
    <div class="footer__container">
        <div class="footer__body _anim-items">
            <div data-spollers="768,max" class="footer__content spollers">
                <div class="footer__menu menu-footer spollers__item">
                    <button tabindex="-1" type="button" class="menu-footer__title spollers__title">Sitemap</button>
                    <div class="spollers__body">
                      <ul class="menu-footer__list">
                          <li class="menu-footer__item">
                              <a href="#" class="menu-footer__link">Home</a>
                          </li>
                          <li class="menu-footer__item">
                              <a href="#" class="menu-footer__link">About</a>
                          </li>
                          <li class="menu-footer__item">
                              <a href="#" class="menu-footer__link">Products</a>
                          </li>
                          <li class="menu-footer__item">
                              <a href="#" class="menu-footer__link">Services</a>
                          </li>
                      </ul>
                    </div>
                </div>
                <div class="footer__social social">
                    <a href="#" class="social__item _icon-s-twitter"></a>
                    <a href="#" class="social__item _icon-s-instagram"></a>
                    <a href="#" class="social__item _icon-s-tiktok"></a>
                    <a href="#" class="social__item _icon-s-medium"></a>
                </div>
            </div>
            <div class="footer__logo">
                <img src="../static/img/footer/logo.svg" alt="">
            </div>
            <div class="footer__subscribe subscribe-footer">
                <h5 class="subscribe-footer__title">
                    Treating all the pets present here like royalty.
                </h5>
                <form action="#" class="subscribe-footer__form">
                    <input autocomplete="off" name="form[]" type="text" placeholder="Enter email address" class="subscribe-footer__input input">
                    <button type="submit" class="subscribe-footer__button">Subscribe</button>
                </form>
            </div>
        </div>
        <div class="footer__copyright _anim-items"><p>Copyright Dotcreativemarket</p></div>
    </div>
    <div class="footer__decor footer__decor-1">
    </div>
    <div class="footer__decor footer__decor-2">
    </div>
</footer>
        </div>
        <script src="../static/js/app.min.js?_v=20240425175724"></script>
    </body>
</html>
